<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Discuss!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>

    <nav class="light-blue">
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">Discussions</a>
        <ul class="right">
          <%= if @conn.assigns[:user] do %>
            <li>
              <%= link "Sign Out", to: auth_path(@conn, :sign_out) %>
            </li>
          <% else %>
            <li>
              <%= link "Sign in with github", to: auth_path(@conn, :request, "github") %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container">

      <!-- <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p> -->
      <!-- <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p> -->

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script type="text/javascript">
      var $toastContent = $('<span class="yellow-text"><%= get_flash(@conn, :error) %></span>').add($('<i class="material-icons red-text">warning</i>'))
      if ($toastContent[0].innerText.length > 10) {
        Materialize.toast($toastContent, 5000)
      }
      var $toastContent = $('<span><%= get_flash(@conn, :info) %></span>')
      if ($toastContent[0].innerText.length > 10) {
        Materialize.toast($toastContent, 5000)
      }
    </script>
  </body>
</html>
